/* CommentForm.css */

.comment-form {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 15px;
}

.comment-form h2 {
  margin-bottom: 10px;
  font-size: smaller;
}

.comment-form form {
  display: flex;
  flex-direction: column;
}

.comment-form textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

.comment-form button {
  padding: 5px 10px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.comment-form button:hover {
  background-color:black;
}

.comment-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}