.video-grid {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    margin-left: 60px;
  
}

.video-card {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding:5px;
  
}

h1 {
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

h2 {
  font-size: .75rem;

}

p {
  font-size: .5rem; 
  margin-top: 2px; 
}

.link-style {
  font-size: 10px;
  color:gray;
  
}
